<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.chuanshen.devladder.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="org.chuanshen.devladder.model.Menu">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="component" property="component" javaType="java.lang.Object"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="iconCls" property="iconCls" jdbcType="VARCHAR"/>
        <result column="parentId" property="parentId" jdbcType="INTEGER"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
        <association property="meta" javaType="org.chuanshen.devladder.model.Meta">
            <result column="keepAlive" property="keepAlive" jdbcType="BIT"/>
            <result column="requireAuth" property="requireAuth" jdbcType="BIT"/>
        </association>
    </resultMap>

    <resultMap id="MenuWithRole" type="org.chuanshen.devladder.model.Menu" extends="BaseResultMap">
        <collection property="roles" ofType="org.chuanshen.devladder.model.Role">
            <id column="role.id" property="id"/>
            <result column="role.name" property="name"/>
            <result column="role.nameZh" property="nameZh"/>
        </collection>
    </resultMap>

    <resultMap id="MenuWithChildren" type="org.chuanshen.devladder.model.Menu" extends="BaseResultMap">
        <collection property="children" ofType="org.chuanshen.devladder.model.Menu">
            <id column="child.id" property="id"/>
            <result column="child.url" property="url" jdbcType="VARCHAR"/>
            <result column="child.path" property="path" jdbcType="VARCHAR"/>
            <result column="child.component" property="component" javaType="java.lang.Object"/>
            <result column="child.name" property="name" jdbcType="VARCHAR"/>
            <result column="child.iconCls" property="iconCls" jdbcType="VARCHAR"/>
            <result column="child.enabled" property="enabled" jdbcType="BIT"/>
            <association property="meta" javaType="org.chuanshen.devladder.model.Meta">
                <result column="child.keepAlive" property="keepAlive"/>
                <result column="child.requireAuth" property="requireAuth"/>
            </association>
            <collection property="children" ofType="org.chuanshen.devladder.model.Menu">
                <id column="grandchild.id" property="id"/>
                <result column="grandchild.name" property="name" jdbcType="VARCHAR"/>
            </collection>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        m.`id` AS 'id',
        m.`url` AS 'url',
        m.`path` AS 'path',
        m.`component` AS 'component',
        m.`name` AS 'name',
        m.`iconCls` AS 'iconCls',
        m.`keepAlive` AS 'keepAlive',
        m.`requireAuth` AS 'requireAuth',
        m.`enabled` AS 'enabled'
    </sql>

    <sql id="Dep_Column_List">
        ${alias}.`id` AS '${as}.id',
        ${alias}.`url` AS '${as}.url',
        ${alias}.`path` AS '${as}.path',
        ${alias}.`component` AS '${as}.component',
        ${alias}.`name` AS '${as}.name',
        ${alias}.`iconCls` AS '${as}.iconCls',
        ${alias}.`keepAlive` AS '${as}.keepAlive',
        ${alias}.`requireAuth` AS '${as}.requireAuth',
        ${alias}.`enabled` AS '${as}.enabled'
    </sql>

    <sql id="With_Role_List">
        ${alias}.`id` AS '${as}.id',
        ${alias}.`name` AS '${as}.name',
        ${alias}.`nameZh` AS '${as}.nameZh'
    </sql>

    <select id="getAllMenuWithRole" resultMap="MenuWithRole">
        SELECT
        <include refid="Base_Column_List"/>,
        <include refid="With_Role_List">
            <property name="alias" value="r"/>
            <property name="as" value="role"/>
        </include>
        FROM menu m
        INNER JOIN menu_role mr ON m.id = mr.mid
        INNER JOIN role r ON mr.rid = r.id
        ORDER BY m.`id`
    </select>

    <select id="getAllMenu" resultMap="MenuWithRole">
        SELECT
        <include refid="Base_Column_List"/>,
        <include refid="With_Role_List">
            <property name="alias" value="r"/>
            <property name="as" value="role"/>
        </include>
        FROM menu m
        LEFT JOIN menu_role mr ON m.`id`=mr.`mid`
        LEFT JOIN role r ON mr.`rid`=r.`id`
        WHERE m.`enabled`=true
        ORDER BY m.`id` DESC
    </select>

    <select id="getAllMenus" resultMap="MenuWithChildren">
        SELECT
               m.`id`    AS 'id',
               m.`name`  AS 'name',
               m2.`id`   AS 'child.id',
               m2.`name` AS 'child.name',
               m3.`id`   AS 'grandchild.id',
               m3.`name` AS 'grandchild.name'
        FROM menu m
        INNER JOIN menu m2 ON m.id = m2.parentId
        INNER JOIN menu m3 ON m2.id = m3.parentId
        WHERE m3.`enabled` = true
        ORDER BY 'id', 'child.id', 'grandchild.id'
    </select>

    <select id="getMenusByHrId" parameterType="Long" resultMap="MenuWithChildren">
        SELECT DISTINCT
        <include refid="Base_Column_List"/>,
        <include refid="Dep_Column_List">
            <property name="alias" value="m2"/>
            <property name="as" value="child"/>
        </include>
        FROM menu m
        LEFT JOIN menu m2 ON m.id = m2.parentId
        LEFT JOIN menu_role mr ON mr.mid = m2.id
        LEFT JOIN hr_role hrr ON hrr.rid = mr.rid
        WHERE
        hrr.hrid = #{hrId}
        AND m2.enabled = TRUE
        ORDER BY
        'id',
        'children.id'
    </select>

    <select id="menuTree" resultMap="MenuWithChildren">
            SELECT
                m1.`id`,
                m1.`name`,
                m2.`id` AS id2,
                m2.`name` AS name2,
                m3.`id` AS id3,
                m3.`name` AS name3
            FROM
                menu m1,
                menu m2,
                menu m3
            WHERE
                m1.`id` = m2.`parentId`
            AND m2.`id` = m3.`parentId`
            AND m3.`enabled` = true
     </select>

    <select id="getMenusByRid" resultType="Long">
        SELECT
            mid
        FROM menu_role
        WHERE rid = #{rid}
    </select>

</mapper>